.homeContainer {
    margin: 0px auto 4px 0;
    height:1rem;
    display: flex;
    top: 0%;
    left: 50%;
    text-align: center;
}

.info {
    justify-items: legacy;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    margin-top: 10rem;
    
}

.info>h1 {
    font-size: 2rem;
    margin: -10.5rem 0 0px;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: rgb(230, 199, 2);
   text-shadow: 1px 1px black;
}
